p {
    line-height: 2em;
    font-size: 1.125em;
}

.pull {
    line-height: 2em;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    padding:0;
    z-index: 1;
    position: relative;
    margin-bottom: 2vw;


    span {
        border-bottom: 10px solid #ffdc62;
    display: block;
    width: 174px;
    position: absolute;
    bottom: 16px;
    z-index: -1;
    transform: skew(
        -4deg
        ) rotate(
        -1deg
        );
    }
}
/*
.pull::before {
    content: "";
    position: absolute;
    left: 84px;
    bottom: 16px;
    width: 174px;
    height: 14px;
    transform: skew(
        -4deg
        ) translateX(-50%) rotate(
        -1deg
        );
    background: #FFDC62;
    z-index: -1;
  }*/

