.notification {
    background: #000000;
    color: #FFFFFF;
    top: 0;
    width: 100%;
    text-align: center;

    p {
        padding: 1vw;
        margin: 0;
        font-size: 14px;
    }
}

@media only screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
    
    .notification {
        p {
            padding: 4vw;
        }
      }

     
    
  }