
.heading1, .heading2, .heading3, .heading4, .heading5, .heading6 {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
}

.heading1 {
    font-weight: 900;
    font-size: 4.5em;
    letter-spacing: -0.02em;
    margin-bottom: 2vw;
}