@import "tokens.scss";

body {
    margin:0;
    padding:0;
    font-family: 'Merriweather', serif;
    background: #F9F9F9;
}

.content {
    background: #ffffff;
    padding-bottom: $medium;
}

.vh {
    position: absolute;
    overflow: hidden;
    margin: 0;
    width: 1px;
    height: 1px;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}



@import "base/base.scss";
@import "components/components.scss";