// Spacing
// $xx-small: 16px;
$x-small: 1vw;
$small: 2vw;
$medium: 4vw;
$large: 8vw;
$x-large: 16vw;

// Breakpoints
$break-mobile:320px;
$break-tablet:600px;
$break-desktop:1008px;
$break-xldesktop: 1280px;